.page-file-entities
  .action
    %a.btn.btn-circle.btn-solid-caution.upload{id: 'upload_btn', href: 'javascript:;', data: {domain: ENV['QINIU_DOMAIN'], basepath: ENV['QINIU_BASE_PATH']}} 上传文件
  .drag-area{id: 'drag-area-div'} 通过浏览磁盘，上传本地图片或者按下 Ctrl+V 粘贴剪贴板里的图片或者拖拽图片文件到本区域
  .files
