.image-upload {
    width:640px;
    height:40px;
    border:4px solid #ccc;
    margin:auto;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
    input[type=file] {
        position:absolute;
        top:-1000px;
    }

    .select-file {
        font-size:18px;
        color:#ccc;
        padding:7px 0;
        padding-left:16px;
        display:inline-block;
        height:100%;
        width:100%;
    }
    
    form {
        position:absolute;
        width:80px;
        right:0;
        display:inline-block;
        height:100%;
    }
    
    .all {
        display:block;
        font-family:sans-serif;
        color:#ccc;
    }

    &.moveup {
        top:64px;
        bottom:initial;
    }
    
    .uploading-list {
        display:none;
        margin-top:12px;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        font-size:16px;
        color:#ccc;
        
        .uploading {
            padding:16px;
            
            &.template {display:none;}
            
            a {display:none;}
            
            a, i {
                color: #666;
                font-size:20px;
                float:right;
            }
        }
    }
}
