.page-image-show
  .col-pad-12
    %h3
      %i.fa.fa-image
      %span= @image.original

  .col-pad-5
    %a.image.o{:href => @image.base, :target => '_blank'}
      %img{:src => @image.base}

  .col-pad-7
    - @image.versions.each do |version|
      - name  = version.name
      - value = version.value
      - url   = version.url

      .version
        .name
          %span= name

        %a.open{:href => url, :target => '_blank'}
          %i.fa.fa-external-link

        .field
          %label url
          %input.url.i{:type => :text, :readonly => true, :value => url}
        .field
          %label html
          %input.url.h{:type => :text, :readonly => true, :value => "<img src='#{url}' />"}
        .field
          %label md
          %input.url.m{:type => :text, :readonly => true, :value => "![](#{url})"}