%h1 已生效配置 

- OutputSetting.anonymous.all_options.each do |name, value|
  - cn = OutputSetting.names[name]
  .active-option.option{:"data-value" => value, :"data-option" => name, :"data-delete-setting-url" => "/zmkm/settings"}
    %h4= cn

    %span
      - if value.size == 2
        #{value[0]} px
        %span.icon.ion-ios7-close-empty
        #{value[1]} px
      - else
        #{value[0]} px

    %button.icon.ion-ios7-close
