.page-dashboard
  .header
    .container
      .row
        .col-pad-12
          .logo 
            %span.s1> img
            %span.s2> 4ye
          .top-control
            .user
              .avatar
                %img{:src => 'http://img.teamkn.com/i/RTB15zIX.png'}
              .name 洋气书生
            .config
              %a.signout{:href => 'home-0-auth.html'}
                %i.fa.fa-power-off
                %span 退出
  .main
    .control
      .container
        .row
          .upload-control
            %a.btn-upload{:href => 'javascript:;'}
              %i.fa.fa-upload
            .helpinfo
              .h 点击上传本地图片
              .h 
                %span 或者 按下 
                %span.k CTRL 
                %span + 
                %span.k V 
                %span 粘贴剪贴板里的图片
              .h 或者 拖拽图片文件到浏览器
          .stat
            .sts
              .st.uploaded
                %span.c 152
                %span.t 张图片，
                %span.c 32.63 MB
                %span.t 空间占用，
                %span.c 3 
                %span.t 个尺寸配置
              %a.btn.btn-pill.btn-flat-success.btn-mini{:href => 'javascript:;'}
                %i.fa.fa-cog
                %span 编辑尺寸配置


    .opbar
      .container
        .row
          .col-pad-12
            .checkstatus.none
              %a.check{:href => 'javascript:;'}
                .cb
                  %i.fa.fa-check
                %span.txt.t1> 选择所有图片
                %span.txt.t2> 取消所选
              %span.point> ·
              %span 已选
              %span.n 0
              %span 张
            .btns
              %a.bttn.copylink.disabled{:href => 'javascript:;'}
                %i.fa.fa-copy
                %span 复制链接
              %a.bttn.download.disabled{:href => 'javascript:;'}
                %i.fa.fa-download
                %span 下载
              %a.bttn.delete.disabled{:href => 'javascript:;'}
                %i.fa.fa-trash
                %span 删除

    .grid.nano
      .nano-content
        .container
          .row
            .col-pad-12
              .blank{:style => 'display:none;'}
                .ac
                .s 还没有上传过图片噢 ~

              - # 集成注意：load-more-url 应填写加载下一页用到的地址
              - # 图片数组要改成从控制器层获取
              .images{:data => {:'load-more-url' => 'home-1-dashboard.html'}}
                - current_user.file_entities.images.is_qiniu.each do |img|
                  .image{:data => {:ave => img.ave, :width => img.width, :height => img.height, :url => img.url, :id => img.id}}

    .upload-panel
      .panel
        .container
          .row
            .col-pad-12
              .pbox
                .uploading-images.nano
                  .nano-content
                    .w1
                      - current_user.file_entities.images.is_qiniu.each do |img|
                        .image{:data => {:url => img.url}}
                          .ibox{:style => "background-image:url(#{img.url})"}
                          .percent
                            .bar{:style => 'width:100%'}
                            .txt
                              %span.p 0
                              %span %
                            .done
                              %i.fa.fa-check
                          .cancel
                            %i.fa.fa-close


                .image-urls
                  %select.form-control
                    %option 原始尺寸链接
                  %textarea.urls.form-control{:placeholder => '这里将显示图片链接', :readonly => true}

                %a.close-panel{:href => 'javascript:;'}
                  %i.fa.fa-arrow-up

  .popbox.template.delete
    .ac
    .tip
      %span 你确定要删除这
      %span.n 5
      %span 张图片吗？
    .tip
      %span 删除了就找不回来了！
    .popbox.actions
      %a.btn.btn-pill.btn-flat-danger.btn-large.popbox.action.ok{:href => 'javascript:;'}
        %i.fa.fa-trash
        %span 确定删除
      %a.btn.btn-pill.btn-flat.btn-large.popbox.action.close{:href => 'javascript:;'}
        %span 关闭

  .popbox.template.download
    .ac
    .icon
      %i.fa.fa-file-zip-o
      %span.t zip file
    .tip
      %span 你要打包下载这
      %span.n 5
      %span 张图片吗？
    .popbox.actions
      %a.btn.btn-pill.btn-flat-success.btn-large.popbox.action.ok{:href => 'javascript:;'}
        %i.fa.fa-download
        %span 下载压缩包
      %a.btn.btn-pill.btn-flat.btn-large.popbox.action.close{:href => 'javascript:;'}
        %span 关闭