.wallpaper
.page-landing
  .auth-float
    .container
      .row
        .col-desk-3.col-desk-offset-3
          .show
            .logo
              %span.s1> img
              %span.s2> 4ye
            .desc
              .d0 简单易用的图片保存服务
              .d1 支持 PC，手机浏览器访问
            .uses
              %span 已累计保存
              %span.c #{FileEntity.images.count}
              %span 张图片

        .col-desk-3
          .auth-form
            .sign-up-form{:style => 'display:none;'}
              .t 注册新用户：
              %a.to.to-sign-in{:href => 'javascript:;'}
                %i.fa.fa-chevron-right
                %span 我要登录

              %input.username.form-control{:type => :input, :name => :username, :placeholder => '用户名'}
              %input.email.form-control{:type => :input, :name => :email, :placeholder => '注册邮箱'}
              %input.pw.form-control{:type => :password, :name => :password, :placeholder => '登录密码'}
              .info{:style => 'display:none;'}
              %a.sign-up{:href => 'javascript:;'}
                %span 我要注册

            .sign-in-form{:style => 'display:none;'}
              .t 登录：
              %a.to.to-sign-up{:href => 'javascript:;'}
                %i.fa.fa-chevron-right
                %span 我要注册

              %input.email.form-control{:type => :input, :name => :email, :placeholder => '邮箱'}
              %input.pw.form-control{:type => :password, :name => :password, :placeholder => '密码'}
              .info{:style => 'display:none;'}
                %span 邮箱或密码不正确
              %a.sign-in{:href => 'javascript:;'}
                %span 登录


            .third
              .t 第三方登录：
              %a.trd.weibo{:href => "/auth/weibo", :'data-no-turbolink' => true}
                %i.fa.fa-weibo
                %span 新浪微博
              / 暂时先不用 QQ
              / %a{:href => "/auth/qq_connect", :'data-no-turbolink' => true}
              /   %i.fa.fa-qq
              /   %span QQ

  .img-changer
    .btns
      %a.prev{:href => 'javascript:;'}
        %i.fa.fa-arrow-left
      %a.next{:href => 'javascript:;'}
        %i.fa.fa-arrow-right
  .team MINDPIN TEAM, 2015
