.page-auth
  .header
    .logo 
      %span.s1> img
      %span.s2> 4ye
    .desc
      .d0 简单易用的图片保存服务
      .d1 支持手机，PC 访问
  .form
    %a.login{:href => "/auth/weibo"}
      %i.fa.fa-weibo
      %span 通过新浪微博登录
  .team MINDPIN TEAM, 2015