# 填写 oss ALIYUN_ACCESS_ID
ALIYUN_ACCESS_ID : xxx 

# 填写 oss ALIYUN_ACCESS_ID
ALIYUN_ACCESS_KEY : yyy 

# BUCKET name
ALIYUN_BUCKET : zzz-dev 

# BUCKET 下的某个子目录名，可以随意写
ALIYUN_BASE_DIR : aaa 

# zzz-dev 代表 BUCKET name 和上面的 ALIYUN_BUCKET 需要一致
# oss-cn-qingdao 代表 BUCKET 属于 cn-qingdao
IMAGE_ENDPOINT : http://zzz-dev.oss-cn-qingdao.aliyuncs.com

# 上面的 ALIYUN_BUCKET 所属的地域
ALIYUN_AREA : cn-qingdao 