:ruby
  id     = @file_entity.id.to_s
  url    = @file_entity.url
  width  = @file_entity.width
  height = @file_entity.height

  if user_signed_in?
    user_json = {
      id: current_user.id.to_s,
      name: current_user.name,
      char: current_user.name[0]
    }.to_json
  end

  image_json = {
    id: id,
    width: width,
    height: height
  }.to_json

  style0 = "min-width:#{width + 20}px;"
  style1 = "width:#{width}px;height:#{height}px;"

.page-image-white-board
  .image-container{style: style0, data: {user: user_json, image: image_json}}
    .ibox{style: style1}
      %img{src: url, style: style1}

  .topbar
    - if user_signed_in?
      .current-user
        .avatar
          %img{:src => current_user.avatar_url}
        .name
          %span>= current_user.name
          %span ，你好
    - else
      .not-signed-in
        .t 
          %span> 你还没有登录，
          %a.to-signin{:href => "/"} 去首页登录

    .faye-offline{:style => 'display:none;'}
      .s
        %i.fa.fa-exclamation-circle
        %span 服务发生连接故障，多人实时协作暂不可用

  .sidebar
    .mouse-pos
      %span 鼠标位置：
      %span X:
      %span.p.x -
      %span ,
      %span Y:
      %span.p.y -
    .comments
      .comment-template{:style => 'display:none;'}
        .user 洋
        .name 洋气书生:
        .text 哈哈哈哈哈哈哈