.image-show {
    padding:0;
    margin:0;
    position:relative;
    font-size:16px;
    
    * {
        vertical-align:middle;
    }

    padding:40px;
    
    h1 {
        margin-bottom:16px; 
    }
    
    span, .url {
        font-size:18px;
        background:none;
    }
    
    .url {
        position:absolute;
        font-size:32px;
        top:4px;
        right:0;
        vertical-align:middle;
        color:#0431B4;
    }

    h4 {
        display:inline-block;
    }

    &, * {
        color:#666;
    }

    background:white;
    width:800px;

    .image {
        padding-top:10px;
        position:relative;
        border-bottom:1px dashed #666;

        &:nth-child(2) {
            border-top:1px solid #666;
        }

        &:last-child {
            border-bottom:1px solid #666;
        }
    }

    button:hover {
        color:red;
    }
    
    label {
        display:block;
        margin-top:10px;
        padding-left:10px;
        background:#eee;
        font-family:monospace;
        border:1px solid #ccc;
        height:32px;
        color:#888;
        line-height:30px;
    }
    
    input.copy {
        width:676px;
        height:100%;
        padding:0px 10px;
        border-left:1px solid #ccc;
        float:right;
        font-size:16px;
        color:#aaa;
        top:0;
        left:0;
    }
}