$fa-font-path: "/lily/fonts";

@import "assets/lily/css/lily.scss";

@font-face {
  font-family: 'Futura-Condensed';
  src: url('/futura/Futura-Condensed.eot');
  src: local('☺'), 
    url('/futura/Futura-Condensed.woff') format('woff'), 
    url('/futura/Futura-Condensed.ttf') format('truetype'), 
    url('/futura/Futura-Condensed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dreamspeak';
  src: url('/dreamspeak/Dreamspeak.ttf.eot');
  src: local('☺'), 
    url('/dreamspeak/Dreamspeak.ttf.woff') format('woff'), 
    // url('/dreamspeak/Dreamspeak-Bold.ttf') format('truetype'), 
    url('/dreamspeak/Dreamspeak.ttf.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin default-transition {
  @include transition(all .3s);
}

@mixin default-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

@mixin url-field {
  .field {
    @include default-transition;
    position:relative;
    margin-bottom:10px;
    &:last-child {margin-bottom: 0;}
    label {
      position:absolute;
      font-size:12px;
      background-color:#f1f1f1;
      height:20px;line-height:20px;
      width:40px;
      top:5px;left:5px;
      text-align:center;
      color:$black-40;
      font-weight:bold;
      pointer-events:none;
      border-radius:2px;
    }

    input.url {
      display:block;
      box-sizing:border-box;
      width:100%;
      padding:0;margin:0;border:0 none;
      background-color:white;
      height:30px;line-height:30px;
      font-size:14px;
      padding:0 10px 0 50px;
      border-radius:$border-radius-default;
      font-family:$font-family-monospace;
      &:hover {
        
      }
    }
  }
}

// ------------------------------

html {
  overflow-y: scroll;
}

body {
  background-color:#f7f7f7;
  a {outline:0;}
}

// ------------------------------

$phone-logo-size: 90px;
$desk-logo-size: 120px;

@mixin siyelogo {
  @include default-transition;
  span.a {color: darken(#7DB500, 20%);}
  span.b {color: #7DB500;}
  // background-color: lighten(#B8E063, 25%);
  // border-radius: $border-radius-default;
  // font-family: "Dreamspeak";
  font-family: "Futura-Condensed";
  font-weight: bold;
  text-align: center;

  $fz: $phone-logo-size;
  $lh: $fz * 5 / 3;
  $pb: $fz / 4;
  font-size: $fz;
  height: $lh; line-height: $lh;
  padding-bottom: $pb;

  @include -above(pad) {
    $fz: $desk-logo-size;
    $lh: $fz * 5 / 3;
    $pb: $fz / 4;
    font-size: $fz;
    height: $lh; line-height: $lh;
    padding-bottom: $pb;
  }
}

@mixin siyelogo-uploading {
  @include siyelogo;
  @include -above(pad) {
    $fz: 90px;
    $lh: $fz * 5 / 3;
    $pb: $fz / 4;
    font-size: $fz;
    height: $lh; line-height: $lh;
    padding-bottom: $pb;
    text-align: left;
  }
}

.page-login {
  .logo {
    @include siyelogo;
  }
  .intro {
    margin-top: $grid-gap;
    font-size: 18px;
    color: #555;
    text-align: center;
    line-height: 30px;
  }
  .third {
    margin-top: $grid-gap;
    .auth-weibo {
      background-color: lighten(#EE3703, 10%);
      display: block;
      color: white;
      text-align: center;
      border-radius: $border-radius-default;
      font-size: 18px;
      height:60px;line-height:60px;

      &:hover {
        text-decoration: none;
        background-color: #EE3703;
      }
    }
  }
  .power {
    margin-top: $grid-gap;
    font-size: 16px;
    text-align: center;
    a {color: #555;}
  }
  .intro, .third, .power {
    box-sizing:border-box;
  }
}

.page-index {
  clear:both;

  .base-info {
    @include default-transition;
    @include clearfix;

    .logo {
      @include siyelogo;
    }

    .usage {
      font-size: 16px;
      color: #555;
      $c:rgba(white, 0.8);
      background-color:$c;
      padding:15px 20px;
      border-radius:$border-radius-default * 5;
      position:relative;
      &:before {
        content:"";
        border:solid 20px transparent;
        border-bottom:solid 20px $c;
        position:absolute;
        top:-40px;
        left:60px;
      }

      .t {font-weight:bold;margin-bottom:5px;}

      &.pc {display:none;}
      &.phone {display:block;}
      @include -above(pad) {
        &.pc {display:block;}
        &.phone {display:none;}
      }

      $fz: $phone-logo-size;
      margin-bottom: $fz * 5 / 9;
      @include -above(pad) {
        $fz: $desk-logo-size;
        margin-bottom: $fz * 5 / 9;
      }
    }

    form.upload {display:none;}

    .ops {
      @include clearfix;
      $w:80px;
      
      position:relative;
      left:50%;
      margin-left: - $w * 2.5 / 2;
      float: left;

      $c1: lighten($area-warning, 25%);
      $c2: darken($area-warning, 30%);

      a.op {
        @include unselectable;
        @include default-transition;
        outline:0 none !important;
        display:block;
        text-align:center;
        float:left;

        background-color: $c1;
        position:relative;

        width:$w;height:$w;
        font-size:$w * 0.5;
        border-radius: $w * 2;
        margin-right:$w/2;
        i {
          width:$w;height:$w;line-height:$w;
          color:$c2;
        }
        @include default-transition;
        &:hover {
          background-color: $c2;
          i {color:white;}
        }
      }

      a.op.btn-upload {
        &:before {
          @include default-transition;
          $bw:3px;
          $pw:8px;
          content:"";
          position:absolute;
          border:dashed $bw #ddd;
          width:$w;height:$w;
          padding:$pw;
          left:- $bw - $pw;
          top:- $bw - $pw;
          border-radius: 100px;
          border-color: $c2;
        }
      }

      a.op.btn-explore {
        i {position:relative;top:2px;}
      }
    }
  }

  .uploading-list {
    @include default-transition;

    margin-top: 90px + 20px;
    // min-height: 300px;
    // margin-bottom:100px;
    opacity:0;

    @include -below(phone) {
      margin-top: 50px;
    }

    .uploading {
      &.template {
        display:none;
        pointer-events:none;
      }

      background-color: #f1f1f1;
      @include clearfix;
      border-radius: $border-radius-default;
      padding:15px;
      margin-bottom:15px;
      position:relative;

      a.image {
        display: block;
        width:150px;
        height:150px;
        position: relative;
        float:left;
        box-sizing:border-box;
        border-radius:2px;
        background-color:#fff;
        box-shadow:3px 3px 0 rgba(black, 0.1);

        .ibox {
          position:absolute;
          top:4px;left:4px;bottom:4px;right:4px;
          overflow:hidden;
          img {
            display:block;
            width:142px;height:142px;
            @include default-transition;
          }
        }

        i {
          @include default-transition;
          opacity:0;
          position:absolute;
          top:25px;left:25px;bottom:25px;right:25px;
          height:100px;line-height:100px;
          font-size:60px;
          color:$black-40;
          pointer-events:none;
        }
        

        &:hover {
          img {
            @include transform(scale(1.2));
          }
        }
      }

      .info {
        margin-left: 165px;
        .filename {
          font-family: $font-family-monospace;
          font-size:16px;font-weight:bold;
          height:30px;line-height:30px;
          margin-bottom:10px;
          white-space: nowrap;
          overflow:hidden;
        }
        @include url-field;
      }

      .close {
        $w:24px;
        position:absolute;
        width:$w;height:$w;line-height:$w;
        text-align:center;
        font-size:15px;
        background-color:$black-40;
        color:white;
        top:$w/4;right:-$w/2;
        border-radius:100px;
        cursor:pointer;
        &:hover {
          background-color:$black-60
        }
        i {
          display: block;
          width:24px;height:24px;line-height:24px;
        }
      }

      &.running {
        .field {opacity:0;pointer-events:none;}
        a.image {
          .ibox {display:none;}
          i {opacity:1;}
        }
      }

    }
  }

  &.uploading {
    .logo { @include siyelogo-uploading; }
    .base-info { left:0; }
    .uploading-list { opacity:1; left:0; }
  }
}

body.drag-over {
  background-color:$area-dawn;
  .page-index .ops a.op.btn-upload {
    background-color: lighten($area-warning, 25%);
    &:before {border-color: darken(#FFCC3F, 25%);}
  }
}


.page-user-info {
  font-size: 16px;
  height:40px;line-height:40px;
  margin-top: 10px;

  .user {
    // background-color:$area-dawn;
    // border-radius:100px;
    // padding:0 20px;
    float:left;
  }
  .signout {
    background-color:#ddd;
    border-radius:100px;
    padding:0 20px;
    float:right;
    margin-left: 20px;
    color:#333;
    &:hover {
      text-decoration: none;
      background-color: #ccc;
    }
  }
}


// images
.page-images {
  position: fixed;
  left:0;right:0;top:0;bottom:0;
  background-color:$black-80;

  h3 {text-align:center;}

  .icontainer {
    position:relative;
    left:0;top:0;
    min-height: 100px;

    .image {
      @include default-transition;
      background-color:#fff;
      position:absolute;
      overflow:hidden;

      .ibox {
        position:absolute;
        top:0px;left:0px;right:0px;bottom:0px;
        overflow:hidden;

        img {
          // @include default-transition;
          width:100%;height:100%;
          cursor:pointer;
          display:block;
        }
      }
    }

    &.show-detail {
      .image {opacity:0;pointer-events:none;}
      .image.show-detail {
        opacity:1;
      }
    }

    .loading-icon {
      opacity:0;pointer-events:none;
      @include default-transition;
      position:absolute;
      height:30px;
      left:0;right:0;bottom:30px;
      font-size:30px;line-height:30px;
      text-align:center;
    }
    &.loading .loading-icon {
      opacity:1;
    }

    .end-text {
      opacity:0;pointer-events:none;
      @include default-transition;
      font-family: "Futura-Condensed";
      font-size:24px;font-weight:bold;
      position:absolute;
      height:30px;
      left:0;right:0;bottom:30px;
      font-size:30px;line-height:30px;
      text-align:center;
    }
    &.end .end-text {
      opacity: 1;
    }
  }
}

.page-image-show {
  h3 {
    margin-bottom:40px;
  }

  .image.o {
    img {opacity:1;width:100%;}
  }

  .version {
    background-color: #F1F1F1;
    padding:15px;
    border-radius:$border-radius-default;
    @include url-field;
    margin-bottom:15px;
    position:relative;
    .name {
      height:30px;line-height:30px;
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    a.open {
      position:absolute;
      height:24px;width:24px;line-height:24px;
      text-align:center;
      border-radius:$border-radius-default;
      background-color: #999;
      &:hover {background-color: #666;}
      color:white;
      &:hover {text-decoration:none;}
      right:15px;top:15px;
    }
  }
}

.page-invite {
  clear: both;
  margin-top: 10px;

  .error, .code {
    margin-bottom: 10px;
    font-size: 16px;
    background-color: $area-dawn;
    border-radius: 4px;
    padding: 20px;
    color: darken($area-warning, 35%);
    text-align: center;
  }

  .error {
    background-color: $area-hot;
    // color: $area-hot;
    color: white;
  }

  form {
    input[type=text] {
      height:38px;line-height:38px;
      border-radius:4px;
      margin-bottom: 10px;
    }

    .submits {
      text-align: center;
      button {
        width: 100%;
        i {margin-right: 10px; margin-left: -10px;}
      }
    }
  }
}