- if flash[:error]
  %p
    = flash[:error]



%form{:action => "/register_user", :method => "post", :name => "check-form"}
  %input{:name => "code", :type => "text", :value => ""}/
  %input{:name => "submit", :type => "submit", :value => "激活"}/