.page-user-info.col-pad-4.col-pad-pull-4
  .user
    %span= current_user.name
    %span 已登录
  %a.signout{:href => '/logout'}
    %i.fa.fa-power-off
    %span 登出

- url = '/images'
.page-index.user.uploading{:data => {:'upload-url' => url}}
  .base-info.col-pad-4.col-pad-pull-4
    .logo>
      %span.a> img
      %span.b> 4ye

    = partial 'partial/usage'
    = partial 'partial/upload_control', :locals => {:list_url => url}

  = partial 'partial/uploading'