.image-upload
  .select-file
    %span.icon.ion-image
    %span.txt 点击选择图片

  %form.upload{action: "/images", method:"post", enctype: "multipart/form-data"}
    %input{type: "file", name: "file"}
    %button.icon.ion-upload{style: "display:none"}

  %a.all{href: "/images"}
    %i.icon.ion-grid
    所有图片
