!!!
%html
  %head
    %title ImageService
    = css :application
    %link{rel: "stylesheet", href: "http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css"}
  %body
    = yield
    = js :application
