.page-index
  .base-info.col-pad-4.col-pad-pull-4
    .logo>
      %span.a> img
      %span.b> 4ye


    %p
      %a{:href => '/auth/weibo', :target => '_blank'} 微博登陆

      %a{:href => '/auth/qq_connect', :target => '_blank'} QQ登陆

      %a{:href => '/auth/github', :target => '_blank'} github登陆
