%h1 已生效配置 

- OutputSetting.options.each do |name, value|
  - cn = OutputSetting.names[name]
  .active-option.option{:"data-value" => value, :"data-option" => name}
    %h4= cn

    %span
      - if value.size == 2
        = value[0]
        %span.icon.ion-ios7-close-empty
        = value[1]
      - else
        = value[0]

    %button.icon.ion-ios7-close
