// 引用 ---------------------

$futura-font-path: "fonts/futura";
$fa-font-path: "fonts"; // 自行修改字体路径
@import "css/lily.scss";


//---------------
.page-images{
  .drag-area{
    background-color: #fa9915;
    height: 200px;
    width: 200px;
  }
  .files{
    .file{
      img{
        width: 200px;
        height: 200px;
      }
    }
  }  
}
